[submodule "emacs-config/plugins/emacs-config/plugins/emacs-prisma-mode"]
	path = emacs-config/plugins/emacs-config/plugins/emacs-prisma-mode
	url = git@github.com:pimeys/emacs-prisma-mode.git
[submodule "emacs-config/plugins/emacs-prisma-mode"]
	path = emacs-config/plugins/emacs-prisma-mode
	url = git@github.com:pimeys/emacs-prisma-mode.git
[submodule "emacs-config/plugins/yasnippet"]
	path = emacs-config/plugins/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "emacs-config/plugins/emmet-mode"]
	path = emacs-config/plugins/emmet-mode
	url = git@github.com:smihica/emmet-mode.git
[submodule "emacs-config/plugins/react-snippets.el"]
	path = emacs-config/plugins/react-snippets.el
	url = git@github.com:johnmastro/react-snippets.el.git
