[Desktop Entry]
Name=lock
Exec=/home/krug/.config/rofi/powermenu/powermenu.sh
Icon=/home/krug/.config/rofi/powermenu/lock.jpg
Terminal=false
Type=Application
Categories=powermenu;
