[Desktop Entry]
Name=logout
Exec=/home/krug/.config/rofi/powermenu/powermenu.sh
Icon=/home/krug/.config/rofi/powermenu/logout.jpg
Terminal=false
Type=Application
Categories=powermenu;
